<div style="text-align:center">
  <h1>
    <span class="un">{{ title2 }}</span>{{ title }}<span class="deux">{{ title1 }}</span>
    <span class="trois"><img width="30" src="assets/images/logos/uniknowledge-logo.svg" ></span>
    <span class="quatre"><img width="50" src="assets/images/logos/cover.jpg "></span>
    <span class="cinq"><img width="40" src="assets/images/logos/uniknowledge-logo.svg"></span>
    <span class="six"><img width="40" src=" assets/images/logos/cover.jpg" ></span>
  </h1>
</div>
