<div class="page-layout blank p-24" fxLayout="row" fxLayoutAlign="space-between start" uniKnowledgePerfectScrollbar>

    <div fxFlex="30%">
        <!-- Filter Part-->
        <mat-card fxFlex="90%">
            <mat-card-title fxLayoutAlign="center center">
                <h1>{{'MY_QUESTIONS.FILTER_BY' | translate}}</h1>
            </mat-card-title>
            <div fxLayout="column" fxLayoutAlign="center center">
                <button class="bottom-margin" mat-raised-button id="all">{{'MY_QUESTIONS.ALL' | translate}}</button>
                <button class="bottom-margin" mat-raised-button id="date">{{'MY_QUESTIONS.DATE' | translate}}</button>
                <button class="bottom-margin" mat-raised-button id="popularity">{{'MY_QUESTIONS.POPULARITY' | translate}}</button>
            </div>
            <mat-card-title fxLayoutAlign="center center">
                <h1>{{'MY_QUESTIONS.SHOW_ONLY' | translate}}</h1>
            </mat-card-title>
            <div fxLayout="column" fxLayoutAlign="center center">
                <button class="bottom-margin" mat-raised-button id="answered">{{'MY_QUESTIONS.ANSWERED' | translate}}</button>
                <button class="bottom-margin" mat-raised-button id="unanswered">{{'MY_QUESTIONS.UNANSWERED' | translate}}</button>
            </div>
        </mat-card>
    </div>

    <div fxFlex="70%">
        <!-- Search Part -->
        <div fxLayoutAlign="center end">
            <!-- All Questions Section-->
            <div fxFlex="100%" fxFlexAlign="start">

                <!-- Title + Ask Question Button Section-->
                <div fxLayoutAlign="start center">
                    <h1>{{'MY_QUESTIONS.MY_QUESTIONS' | translate}}</h1>

                    <div fxLayoutAlign="start start">
                        <button (click)="openAskQuestion()" mat-raised-button class="ask-button">
                            {{'MY_QUESTIONS.ASK_BUTTON' | translate}}
                        </button>
                    </div>
                </div>

                         <!-- Questions List Section-->
            <div fxLayout="column">

                <h3 *ngIf="questions.length == 0">No Question found !</h3>

                <!-- Question Item-->
                <mat-card *ngFor="let question of questions" style="margin-bottom:20px;margin-right:25px;" class="no-padding" fxFlex="97%" fxLayoutAlign="space-between center">
                    <!-- Question Sub-Section-->
                    <div fxFlex="80%">
                        <mat-card-title>
                            <h2>{{question.title}}</h2>
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{question.text}}
                        </mat-card-subtitle>
                    </div>

                    <div class="vl"></div>

                    <!-- Asked By Sub-Section-->
                    <div fxFlex="15%" class="question-infos">
                        <mat-card-title>
                            <h2>Asked By</h2>
                        </mat-card-title>
                        <mat-card-subtitle>{{question.author.firstName}} {{question.author.lastName}}</mat-card-subtitle>
                    </div>

                    <div class="vl"></div>

                    <!-- Answers Infos Sub-Section-->
                    <div fxFlex class="question-infos">
                        <mat-card-title>
                            <h2>{{question.nbAnswers}}</h2>
                        </mat-card-title>
                        <mat-card-subtitle>Answer(s)</mat-card-subtitle>
                    </div>
                </mat-card>
            </div>
            </div>
        </div>
    </div>
</div>