<div class="page-layout blank p-24" uniKnowledgePerfectScrollbar>

    <!-- Search Bar Section-->
    <div fxLayoutAlign="center start">
        <mat-card fxFlex="column" class="bottom-margin">

            <div fxFlex flexLayout="column" fxLayoutAlign="space-evenly start">

                <!-- Search Part -->
                <div fxFlex="30%" fxLayout="column" flexLayoutAlign="center">
                    <mat-card-title>
                        <h1>{{'ALL_QUESTIONS.SEARCH_QUESTION' | translate}}</h1>
                    </mat-card-title>
                    <div fxLayout="row">
                        <mat-form-field class="searchbar">
                            <input [(ngModel)]="searchText" matInput placeholder="{{'ALL_QUESTIONS.SEARCHBAR_PLACEHOLDER' | translate}}">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <button (click)="search()" mat-raised-button class="search-button">
                            {{'ALL_QUESTIONS.SEARCH_BUTTON' | translate}}
                        </button>
                    </div>
                </div>

                <!-- Filter Part-->
                <div fxFlex="40%" fxLayout="column" flexLayoutAlign="center">
                    <mat-card-title>
                        <h1>{{'ALL_QUESTIONS.FILTER_BY' | translate}}</h1>
                    </mat-card-title>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <button mat-raised-button id="institution">Institution</button>
                        <button mat-raised-button id="date">Date</button>
                        <button mat-raised-button id="popularity">Popularity</button>
                        <button mat-raised-button id="domain">Domain</button>
                    </div>
                </div>

            </div>
        </mat-card>
    </div>


    <div fxLayoutAlign="space-between end">

        <!-- All Questions Section-->
        <div fxFlex="100%" fxFlexAlign="start">

            <!-- Title + Ask Question Button Section-->
            <div fxLayoutAlign="start center">
                <h1 id="questions">{{'ALL_QUESTIONS.ALL_QUESTIONS' | translate}}</h1>

                <div fxLayoutAlign="start start">
                    <button (click)="openAskQuestion()" mat-raised-button class="ask-button">
                        {{'ALL_QUESTIONS.ASK_BUTTON' | translate}}
                    </button>
                </div>
            </div>

            <!-- Questions List Section-->
            <div fxLayout="column">

                <h3 *ngIf="questions.length == 0">No Question found !</h3>

                <!-- Question Item-->
                <mat-card *ngFor="let question of questions" style="margin-bottom:20px;margin-right:25px;" class="no-padding" fxFlex="97%"
                    fxLayoutAlign="space-between center">
                    <!-- Question Sub-Section-->
                    <div fxFlex="80%">
                        <mat-card-title>
                            <h2>{{question.title}}</h2>
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{question.text}}
                        </mat-card-subtitle>
                    </div>

                    <div class="vl"></div>

                    <!-- Asked By Sub-Section-->
                    <div fxFlex="15%" class="question-infos">
                        <mat-card-title>
                            <h2>Asked By</h2>
                        </mat-card-title>
                        <mat-card-subtitle>{{question.author.firstName}} {{question.author.lastName}}</mat-card-subtitle>
                    </div>

                    <div class="vl"></div>

                    <!-- Answers Infos Sub-Section-->
                    <div fxFlex class="question-infos">
                        <mat-card-title>
                            <h2>{{question.nbAnswers}}</h2>
                        </mat-card-title>
                        <mat-card-subtitle>Answer(s)</mat-card-subtitle>
                    </div>
                    <div class="vl"></div>
                    <div fxFlex class="question-infos">
                        <mat-card-title>
                            <button mat-button style="margin-top:25px;" (click)="likeQuestion(question.id)">
                                <mat-icon>thumb_up_alt</mat-icon>
                            </button>
                        </mat-card-title>
                        <mat-card-subtitle>{{question.popularity}}</mat-card-subtitle>
                    </div>
                </mat-card>
            </div>
        </div>


        <!-- Can you Answer Section-->
        <div fxFlex="40%" fxFlexAlign="start">
            <div fxLayoutAlign="start center">
                <h1 id="questions">Can You Answer ...</h1>

                <div fxLayoutAlign="start start">
                    <mat-form-field style="margin-left: 80px;" fxFlex="200px">
                        <mat-select (change)="getQuestionsByDomain()" placeholder="Select a Domain" [(value)]="selectedDomain">
                          <mat-option *ngFor="let domain of domains" [value]="domain">
                            {{ domain }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>
            <div>
                <mat-card *ngFor="let question of canYouAnswerQuestions" class="no-top-padding" fxFlex="100%">
                    <mat-card-title>
                        <h2>{{question.title}}</h2>
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{question.text}}
                    </mat-card-subtitle>
                </mat-card>
            </div>
        </div>
    </div>
</div>