<div class="page-layout blank p-24" fxLayout="row" fxLayoutAlign="center start" uniKnowledgePerfectScrollbar>
    <div fxLayout="column" fxLayoutAlign="start center">
        <div fxLayout="row">
            <mat-form-field fxFlex="350px">
                <textarea [(ngModel)]="description" rows=5 matInput placeholder="Write here your answer ..."></textarea>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-dialog-actions fxFlex>
                <button mat-button (click)="onNoClick()">Cancel</button>
                <button mat-button (click)="submitForm()">Answer</button>
            </mat-dialog-actions>
        </div>
    </div>
</div>