<div id="login" fxLayout="row" fxLayoutAlign="start">

<!-- RIGHT PART -->
    <div id="login-form-wrapper" uniKnowledgePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">

                <div [@animate]="{value:'*',params:{scale:'0.2'}}" >
                    <img class="logo-icon" src="assets/images/logos/uniknowledge-text-logo.svg">
                </div>            

            <form name="loginForm" [formGroup]="loginForm" novalidate>
                
                <mat-form-field id="email">
                    <input matInput placeholder="{{'LOGIN.EMAIL' | translate}}" formControlName="email">
                    <mat-error *ngIf="loginFormErrors.email.required">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="!loginFormErrors.email.required && loginFormErrors.email.email">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field id="password">
                    <input matInput type="password" placeholder="{{'LOGIN.PASSWORD' | translate}}" formControlName="password">
                    <mat-error *ngIf="loginFormErrors.password.required">
                        Password is required
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me">
                        {{'LOGIN.REMEMBER-ME' | translate}}
                    </mat-checkbox>

                    <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password-2'">
                        {{'LOGIN.FORGOT-PASSWORD' | translate}}
                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN"
                        [disabled]="loginForm.invalid">
                        {{'LOGIN.LOGIN' | translate}}
                </button>

            </form>


            <div class="separator">
                <span class="text">OR</span>
            </div>

            <div fxLayout="column" fxLayoutAlign="start center">

                <button mat-raised-button class="create-account" [routerLink]="'/register'">
                    {{'LOGIN.CREATE-ACCOUNT' | translate}}
                </button>
            </div>
        </div>
    </div>

<!-- RIGHT PART -->

<!-- LEFT PART -->
<!-- <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

    <mat-card class="did-you-know">
        <mat-card-title class="title">Did you know ?</mat-card-title>
        <mat-card-subtitle><span>The longest recorded flight of a chicken was 13 seconds</span></mat-card-subtitle>
    </mat-card>

</div> -->
<!-- LEFT PART -->

</div>