.formulaire{position: absolute;border: 2px solid lightgray;width: 30%;padding: 10%;top:150px;}
.mail{position: absolute;top:50px;left:20px;}
.motpass{position: absolute;top:100px;left:20px;}
.valide{position: absolute;top:150px;left:20px;}
