.profil{border: 2px solid lightgray;width: 50%;padding-left: 2%;padding-right:20%;padding-top: 2%;padding-bottom: 30%;margin-top: 20px}
.titre1{position: absolute;top:150px}
.titre2{position: absolute;top:400px}
.titre3{position: absolute;top:430px}
.titre4{position: absolute;top:460px}
.titre5{position: absolute;top:490px}
.nom{position: absolute;top:200px;}
.prenom{position: absolute;top:250px;}
.aniv{position: absolute;top:300px;}
.num{position: absolute;top:350px;}
.valide{position: absolute;top:490px;left:700px}
.picture{position: absolute;top:230px;left:720px}
.photo{position: absolute;top:350px;left:700px}
