<div class="profil">
  <span class="titre1">{{title}}</span>
  <span class="titre2">{{title2}}</span>
  <span class="titre3">{{title3}}</span>
  <span class="titre4">{{title4}}</span>
  <span class="titre5">{{title5}}</span>

     <form action="" class="formulaire">
      <span class="nom"><input class="champ" type="text" value="Firstname"/></span>
        <span class="prenom"><input class="champ" type="text" value="Lastname"/></span>
        <span class="aniv"><input class="champ" type="text" value="Birthdate"/></span>
        <span class="num"><input class="champ" type="text" value="Students Id"/></span>
        <span class="valide"><input class="bouton" type="button" value="APPLY CHANGES"/></span>
        <span class="picture"><img width="100" src="assets/images/avatars/profile.jpg"></span>
        <span class="photo"><input class="bouton" type="button" value="CHANGE PICTURE"/></span>
     </form>
</div>
