
<div class ="filtre">
  <span class="titre">{{title}}</span>
  <input id="filter-btn1" type="submit" name="recherche" value="FILTER #1"/>
  <input id="filter-btn2" type="submit" name="recherche" value="FILTER #2"/>
  <input id="filter-btn3" type="submit" name="recherche" value="FILTER #3"/>

</div>
<div class="search"><span class="searchtitle">Search a question</span>

     <form action="" class="formulaire">
        <input class="champ" type="text" value="what's the meaning of...?"/>
        <input class="bouton" type="button" value="search" />
     </form>
</div>
<div class ="vue">
  <span class="titre2">Show Only</span>
  <input id="btn1" type="submit" name="recherche" value="ANSWERED"/>
  <input id="btn2" type="submit" name="recherche" value="UNANSWERED"/>

</div>
<div class=ask>
<span class="questiontitle">MY QUESTIONS</span>
<input id="ask-btn" type="submit" name="recherche" value="ASK QUESTION"/>

<p class="question1">How would you implement a Tower Of Hanoi Problem in Python ?</p>
  <p class="who">ASKED BY<span class="type"> DOMAIN </span></p>
  <span class="nb-answer"> 2<span class="demande">ANSWER(S)</span></span>

  <p class="question2">How would you implement a Tower Of Hanoi Problem in Python ?</p>
    <p class="who2">ASKED BY<span class="type2"> DOMAIN </span></p>
    <span class="nb-answer2"> 2<span class="demande2">ANSWER(S)</span></span>

    

</div>
