<mat-sidenav-container>

    <div id="uniKnowledge-main-content">
        
        <div id="wrapper">
            <div class="content-wrapper">

                <!-- TOOLBAR: Below -->
                <ng-container>
                    <uniKnowledge-toolbar *ngIf="router.url != '/login'" class="below" [ngClass]="uniKnowledgeSettings.colorClasses.toolbar"></uniKnowledge-toolbar>
                </ng-container>
                <!-- / TOOLBAR: Below -->

                <ng-container>
                        <uniKnowledge-navbarmenu *ngIf="router.url != '/login'" class="below" [ngClass]="uniKnowledgeSettings.colorClasses.toolbar"></uniKnowledge-navbarmenu>
                </ng-container>

                <uniKnowledge-content></uniKnowledge-content>

            </div>
        </div>

    </div>

</mat-sidenav-container>