<mat-toolbar style="height:90px;" class="p-0 mat-elevation-z1">
        <div fxFlex fxFill fxLayout="row" fxLayoutAlign="space-between center">
           <!-- University Infos -->
           <div fxLayoutAlign="center" id="uni-infos">
              <img class="credits-icon" src="assets/icons/credits.svg">
              <span style="font-size:25px;" fxHide fxShow.gt-sm>125</span>
           </div>
           <!-- Logo Infos -->
           <div fxLayout="row" fxLayoutAlign="center">
              <img class="logo-icon" src="assets/images/logos/uniknowledge-logo-with-text-icon.svg">
           </div>
           <!-- Profile and Language Infos -->
           <div fxLayout="row" fxLayoutAlign="space-evenly center">
              <div>
                 <button mat-button [matMenuTriggerFor]="userMenu"
                    class="user-button">
                    <img class="avatar" src="{{userService.user.profilePictureURL}}">
                    <span class="username mr-12" fxHide fxShow.gt-sm>{{userService.user.username}}</span>
                 </button>
                 <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
                 <button mat-menu-item>
                    <mat-icon>account_circle</mat-icon>
                    <span>My Profile</span>
                 </button>
                 <button (click)="logout()" mat-menu-item>
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                 </button>
                 </mat-menu>
              </div>
              <div class="toolbar-separator"></div>
              <div>
                 <button mat-button fxHide fxShow.gt-xs
                    class="language-button"
                    [matMenuTriggerFor]="languageMenu">
                 <span class="iso text-uppercase">{{selectedLanguage.id}}</span>
                 </button>
                 <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">
                 <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                 <div fxLayout="row" fxLayoutAlign="start center">
                    <span class="iso">{{lang.title}}</span>
                 </div>
                 </button>
                 </mat-menu>
              </div>
           </div>
        </div>
     </mat-toolbar>