<div class="page">
  <div class="search">
    <span>{{title}}</span>
    <form action="" class="formulaire">
        <input class="champ" type="text" value="what's the meaning of...?"/>
        <input class="bouton" type="button" value="search " />
     </form>
   </div>
   <div class="credit">
     <span class="titre2">{{title2}}</span>
     <span class="nb-credit">10000</span>

         <input class="bouton2" type="button" value="exchange " />

    </div>
    <div class=reponse>
    <span class="answertitle">MY ANSWER</span>
    <input id="rep-btn" type="submit" name="recherche" value="ANSWER QUESTION"/>

    <p class="question1">How would you implement a Tower Of Hanoi Problem in Python ?</p>
      <p class="who">ASKED BY<span class="type"> DOMAIN </span></p>
      <span class="nb-answer"> 2<span class="demande">ANSWER(S)</span></span>

      <p class="question2">How would you implement a Tower Of Hanoi Problem in Python ?</p>
        <p class="who2">ASKED BY<span class="type2"> DOMAIN </span></p>
        <span class="nb-answer2"> 2<span class="demande2">ANSWER(S)</span></span>

        <p class="question3">How would you implement a Tower Of Hanoi Problem in Python ?</p>
          <p class="who3">ASKED BY<span class="type3"> DOMAIN </span></p>
          <span class="nb-answer3"> 2<span class="demande3">ANSWER(S)</span></span>


    </div>
    <div>
    <span class="answertitle2">CAN YOU ANSWER...</span>
    <div class="question4">
      <p class="example1">what is a triangular matrix?</p>
      <p class="example2">what is a square matrix?</p>
      <p class="example3">what is a matrix?</p>

    </div>
    </div>


</div>
