<div class="theme-options-panel-overlay" #overlay [fxHide]="barClosed" [@fadeInOut]="!barClosed"></div>

<div #panel class="theme-options-panel mat-white-bg mat-elevation-z8">

    <button mat-icon-button class="close-button" (click)="closeBar()">
        <mat-icon>close</mat-icon>
    </button>

    <div class="theme-options-panel-inner" fxLayout="column" fxLayoutAlign="start start">
        <h2>Customization Options</h2>
        <h3 class="mt-24">Toolbar:</h3>
        <mat-radio-group [(ngModel)]="uniKnowledgeSettings.layout.toolbar" (ngModelChange)="onSettingsChange()"
                         fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start start" fxLayoutWrap>
            <mat-radio-button class="mr-8 mb-8" value="below">Show</mat-radio-button>
            <mat-radio-button class="mr-8 mb-8" value="none">Hide</mat-radio-button>
        </mat-radio-group>

        <h3 class="mt-24">Footer:</h3>
        <mat-radio-group [(ngModel)]="uniKnowledgeSettings.layout.footer" (ngModelChange)="onSettingsChange()"
                         fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start start" fxLayoutWrap>
            <mat-radio-button class="mr-8 mb-8" value="below">Show</mat-radio-button>
            <mat-radio-button class="mr-8 mb-8" value="none">Hide</mat-radio-button>
        </mat-radio-group>

        <mat-divider></mat-divider>
    </div>

</div>
