<div id="main-navigation" class="nav"
     [ngClass]="{'horizontal':layout === 'horizontal', 'vertical':layout === 'vertical'}">

    <!-- Vertical Navigation Layout -->
    <ng-container *ngIf="layout === 'vertical'">

        <ng-container *ngFor="let item of navigationModel">

            <uniKnowledge-nav-vertical-group *ngIf="item.type=='group'" [item]="item"></uniKnowledge-nav-vertical-group>
            <uniKnowledge-nav-vertical-collapse *ngIf="item.type=='collapse'" [item]="item"></uniKnowledge-nav-vertical-collapse>
            <uniKnowledge-nav-vertical-item *ngIf="item.type=='item'" [item]="item"></uniKnowledge-nav-vertical-item>

        </ng-container>

    </ng-container>
</div>
