<div class="group-title">
    <span class="hint-text" [translate]="item.translate">{{ item.title }}</span>
</div>

<div class="group-items">
    <ng-container *ngFor="let item of item.children">
        <uniKnowledge-nav-vertical-group *ngIf="item.type=='group'" [item]="item"></uniKnowledge-nav-vertical-group>
        <uniKnowledge-nav-vertical-collapse *ngIf="item.type=='collapse'" [item]="item"></uniKnowledge-nav-vertical-collapse>
        <uniKnowledge-nav-vertical-item *ngIf="item.type=='item'" [item]="item"></uniKnowledge-nav-vertical-item>
    </ng-container>
</div>